:root {
  --main-text-color: #fff;
  --background-color: #000;
  --accent-color: #fbd784;
  --hero-accent-color: #ffc178;
  --button-color: #ffa343;

 
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;

}
